<%= render 'pages/home' unless user_signed_in? %>

<div id ="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <%= link_to pin do %>
        <span class="panel-body show-description">
          <p class="pin-title"><%= pin.title %></p>
          <p class="pin-description"><%= pin.description %></p>
          <span class="user-email"><%= pin.user.name if pin.user %></span>
        </span>
        <% end %>
        <% if pin.user == current_user %>
          <div class="panel-footer actions center">
            <button type="button" class="btn btn-default btn-sm">
              <%= link_to edit_pin_path(pin) do %>
                <span class="glyphicon glyphicon-edit"></span>
                Edit
              <% end %>
            </button>
            <button type="button" class="btn btn-danger btn-sm delete">
              <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
                Delete
              <% end %>
            </button>

          </div>
        <% end %>
    </div>
  <% end %>
</div>

<div class="center">
   <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>