
<div class="row">
    <div class="col-md-offset-3 col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <div class="panel-title">
		    	<h1>New Pin</h1>
		    </div>
			  </div>
			  <div class="panel-body">
			    <%= render 'form' %>
			  </div>
		</div>
	</div>
</div>
