<div class="container">
  <%= link_to 'Back', pins_path %>

  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading center">
          <%= image_tag @pin.image.url(:medium) %>
        </div>
        <div class="panel-body">
          <p class="pin-title"><%= @pin.title %></p>
          <p class="pin-description"><%= @pin.description %></p>
          <span class="user-email"><%= @pin.user.name if @pin.user %></span>
          <div class="social-sharing" style="padding-top:8px;">
            <span class="user-email">Share this pin:</span>
            <%= social_share_button_tag(@pin.title, :popup => "true") %>
        </div>
      </div>
          <% if @pin.user == current_user %>
            <div class="panel-footer actions center">
              <button type="button" class="btn btn-default btn-sm">
                <%= link_to edit_pin_path(@pin) do %>
                  <span class="glyphicon glyphicon-edit"></span>
                  Edit
                <% end %>
              </button>
              <button type="button" class="btn btn-danger btn-sm delete">
                <%= link_to @pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-trash"></span>
                  Delete
                <% end %>
              </button>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
