<div class="jumbotron center">
	<h1>Welcome to Pinteresting</h1>
		<p>You can pin all kinds of stuff here. From pictures of cats, to Jimmy Fallons broken fingers.</p>
		<p>
			<%= link_to "Login", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>	
		</p>
</div>
