<div class="about-sections odd center">
  	<h1>About Me</h1>
	<p>This is the Pinteresting app that I created as part of the one month rails training class. </p>
</div>

<div class="about-sections even">
	<div class="row">
	  	<div class="col-md-6">
	  		<%= image_tag("1449200612_laptop.png", :alt => "Laptop", :width => "250px") %>
	  	</div>
  		<div class="col-md-6">
  			<h2>Pin Whatever You Want!</h2>
  			<ul class="list-styled">
  				<li>Cars</li>
  				<li>People</li>
  				<li>Skateboards</li>
  				<li>Sunsets</li>
  				<li>Kittens</li>
  				<li>Puppies</li>
  				<li>Hockey Players</li>
  			</ul>
  		</div>
	</div>	
</div>
<div class="jumbotron odd center">
	<h2>Lets Start Pinning</h2>
	<p>Click the button below to start pinning all the magical things!</p>
	<button type="button" class="btn btn-default btn-lg">
    <%= link_to new_pin_path do %>
      <span class="glyphicon glyphicon-pushpin"></span> 
        New Pin
    <% end %>
  </button>

</div>

