<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Pinteresting", root_path, class: "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Account Settings", edit_user_registration_path %></li>
            <li>
              <button type="button" class="btn btn-default navbar-btn btn-sm">
                <%= link_to new_pin_path do %>
                  <span class="glyphicon glyphicon-pushpin"></span> 
                    New Pin
                <% end %>
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-danger navbar-btn btn-sm">
              <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
              </button>
            </li>
              <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div><!-- /.container -->
</nav>